<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/principal.css">
</head>

<body>
    <div class="content">
        <div class="barraSuperior">
            <a href="#" class="cog-a"><img class="cog" src="../../res/imgs/cog.png"></a>
            <a href="#" class="close-a"><img class="close" src="../../res/imgs/close.png"></a>
           
        </div>
        <img class="diaDaSemana">
        <div class="assunto">
            <div class="vertical-center">
                <h1 class="assuntoH1">
                </h1>
            </div>
        </div>
        <span href="#" class="time-span">00/00/0000 00:00:00</span>
    </div>

    <script>
        require('./js/principal')
    </script>
</body>

</html>