
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/principal.css">
</head>
<body>
    <div class="content">
        <div class="barraSuperior"></div>
        <a href="#" class="cog-a"><img class="cog" src="../../res/imgs/cog.png"></a>
        <a href="#" class="close-a"><img class="close" src="../../res/imgs/close.png"></a>
        <img class="diaDaSemana" src="../../res/imgs/segunda.png">
        <div class="assunto">
            <h1 class="assuntoH1">
                
            </h1>
        </div>

    </div>

    <script>
        require('./js/principal')
        </script>
</body>
</html>