body{
    margin:0;
    overflow: hidden;
    
}
.content {
    /* -webkit-app-region: drag; */
    width: 250px;
    height: 300px;
  }

  .diaDaSemana{
      width: 250px;
      box-shadow: 0px 0px 9px -5px black;

  }

 .assunto{
     height: 234px;
     width: 250px;
     overflow-x: auto;
     margin-top: -4px;
     word-break: break-word;
     margin-left: 5px;
     margin-right: 5px;
     
     /* background-color: bisque; */
 }
 .vertical-center {
    margin: 0;
    width: 240px;
  }

 .assuntoH1{
    color: white;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    text-shadow: 2px 1px 1px black;
}

.time-span{
    position: absolute;
    left: 10px;
    bottom: 2px;
    font-family: monospace;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

 .cog{
    -webkit-app-region: no-drag;
    width: 10px;
    position: absolute;
    left: 210px;
    top: 3px;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 5px;
    padding: 2px 2px;
    background-color: #ffffff;
    transition: transform 0.2s, width 0.2s ;
 }
 .cog-a{
    -webkit-app-region: no-drag;
     cursor: pointer;
 }
 .cog:hover{
    width: 20px;
    z-index: 999;
    transform: translateY(4px) translateX(3px);
    
 }
 .close{
    -webkit-app-region: no-drag;
    width: 10px;
    position: absolute;
    left: 230px;
    top: 3px;
    box-shadow: 0px 0px 3px 0px #360e0c;
    border-radius: 5px;
    padding: 2px 2px;
    background-color: #ff3a2f;
    transition: transform 0.2s, width 0.2s ;
 }
 .close-a{
    -webkit-app-region: no-drag;
    cursor: pointer;
 }
 .close:hover{
    width: 20px;
    transform: translateY(4px) translateX(-10px);
 }

 .barraSuperior{
     height: 20px;
     z-index: 999;
     -webkit-app-region: drag;
 }